* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;

  /* navigation bar */

}

body {
  margin: 0;
}

footer {
  background-color: #FFFF;
}

h1, h2, h3 {
  display: flex;
  justify-content: center;
}

h1 {
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-size: 3.5rem;
  font-weight: 700;
  padding-top: 1.5em;
}

h2 {
  display: flex;
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  font-size: 2rem;
  margin: auto;
  padding-bottom: 1em;
  padding-top: 2em;
  text-align: center;
}

.aboutgrey {
  background-color: #f2f3f3;
  line-height: 1.6em;
  padding-bottom: 4em;
}

.aboutSections {
  padding-bottom: 3em;

}

.buttonText {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  text-decoration: none;
}

.connect {
  display: flex;
  background-color: #f2f3f3;
  flex-direction: column;
  justify-content: center;
  padding-top: 5em;
  padding-bottom: 0em;
  text-align: center;
}

.connectTitle {
  font-family: "Noto Serif", serif;
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 4em;
  padding-top: 0.5em;
}

.expandedNav {
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 2em;
  padding-top: 5em;
  text-align: center;
}

.expandedNav--hidden {
  display: none;
}

.expandedNavLink {
  color: #403F3F;
  font-size: 1.5em;
  text-decoration: none;
}

.expandedNavLink:hover {
  color: #91A3A3;
}

.fa {
  color: #0A4F52;
  padding-left: .5em;
}

.footerDiv {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.footerSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.75em;
  margin: 0 5%;
  padding-top: 1.5em;
  padding-bottom: 1em;
  text-align: left;

}

.hamburgerButton {
  height:5em;
  margin: auto;
  float: right;
  padding: 1.5em 1.5em;
}

.heroImg {
  margin: auto;
  padding-top: 5em;
  width: 100%;
}

.logo {
  height: 3.5em;
  float: left;
  margin: 1em 1.5em;

}

.mediaList{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 5%;
}


.phaseLabel {
  background-color: #91A3A3;
  padding: 1.5em;

}

.phaseLabelText {
  display: flex;
  justify-content: center;
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 600;
  line-height: 1.6em;
  text-align: center;
}

.projectSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7em;
  margin: 0 15%;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  text-align: left;
}

.redirectButton {
  background-color: #0A4F52;
  border-radius: .5em;
  display: inline-block;
  margin: 0 3em 3em;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  text-align: center;
  width: 12em;
}

.redirectButtons {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  padding-left: 0;
  padding-top: 1.5em;
}

.redirectButton:hover {
  background-color: #053032;
}

.sectionImg {
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75%;
}

.sectionText {
  color: #403F3F;
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6em;
  margin: 0% 11%;
  padding-bottom: 3em;
  padding-top: 0.5em;
}

.textGray {
  color: #373636;
  text-align: center;

}

.topNav {
  background-color: #F2F3F3;
  position: fixed;
  width: 100%;
}
