* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;

  /* navigation bar */

}

body {
  margin: 0;
}

footer {
  background-color: #FFFF;
}

h1, h2, h3 {
  display: flex;
  justify-content: center;
}

h1 {
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-size: 3.5rem;
  font-weight: 700;
  padding-top: .75em;
}

h2 {
  display: flex;
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  font-size: 2rem;
  margin: auto;
  padding-bottom: 1em;
  padding-top: 2em;
  text-align: center;
}

h3 {
  font-family: "Noto Serif", serif;
  font-size: 2.5rem;
  font-weight: 600;
  padding-top: 0.5em;
}

h4 {
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding-top: 0.5em;
}

h5 {
  color: #403F3F;
  display: flex;
  justify-content: center;
  font-family: "Noto Serif", serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 0.5em;
  padding-top: 1em;
}


.break {
  color: #403F3F;
  display: flex;
  justify-content: center;
  margin-top: 4em;
  width: 20%;

}

.busyLogo {
  display: flex;
  height: 40%;
  margin: auto;
  padding-bottom: 1.5em;
  width: 25%
}

.busonphone {
  width: 100%;
}

.buttonText {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  text-decoration: none;
}

.competitiveAnalysis {
  background-color: #f2f3f3;
  padding-top: 1.5em;
}

.conceptImg {
  width: 100%;
  padding-top: 2em;
}

.conceptSubtitle {
    display: flex;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    justify-content: center;
    line-height: 1.6em;
    margin: 0 12%;
    padding-bottom: .5em;
    text-align: left;

}


.conclusion {
  padding-bottom: 3em;
}

.conclusionSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6em;
}

.conclusionSubtitleAlign {
  display: flex;
  justify-content: center;
  margin: 0 12%;
  padding-bottom: .5em;
  text-align: left;
}

.connect {
  display: flex;
  background-color: #f2f3f3;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 0em;
  text-align: center;
}

.connectText {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75em;
  margin: 0 8%;
  padding-top: 0em;
  padding-bottom: 0.5em;
  text-align: center;
}


.expandedNav {
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 2em;
  padding-top: 5em;
  text-align: center;
}

.expandedNav--hidden {
  display: none;
}

.expandedNavLink {
  color: #403F3F;
  font-size: 1.5em;
  text-decoration: none;
}

.expandedNavLink:hover {
  color: #91A3A3;
}

.expandedSubNav{
  background-color: white;
  color: #91A3A3;
  border-style: solid;
  border-width: thin;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 2em;
  padding-top: 2em;
  position: absolute;
  text-align: center;
  width: 100%;

}

.expandedSubNav--hidden {
  display: none;
}

.expandedsubNavLink{
  color: #403F3F;
  font-size: 1.5em;
  line-height: 1.4em;
  text-decoration: none;
}

.fa {
  color: #0A4F52;
  padding-left: .5em;
}


.finalSubtitle {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  justify-content: center;
  line-height: 1.6em;
  margin: 0 12%;
  padding-bottom: .5em;
  text-align: left;
}

.footerDiv {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.footerSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.75em;
  margin: 0 5%;
  padding-top: 1.5em;
  padding-bottom: 1em;
  text-align: left;

}


.hamburgerButton {
  height:5em;
  float: right;
  padding: 1.5em 1.5em;
}

.heroButtons {
  display: flex;
  justify-content: center;
  padding-left: 0%;
  padding-top: 1.5em;
}

.heroButton {
  background-color: #0A4F52;
  border-radius: .5em;
  display: inline-block;
  margin: 0 3em 3em;
  padding: 1.5em 1.5em;
  text-align: center;
  width: 10em;
}

.hifiImg {
  display: flex;
  margin: auto;
  padding-bottom: 1.5em;
  padding-top: 3em;
  width: 75%;
}

.hifiMockups {
  background-color: #f2f3f3;
  padding-bottom: 4em;
  padding-top: 1.5em;
}

.initialSketches {
  background-color: #f2f3f3;
  padding-top: 1.5em;
}

.lightbulb {
  align-self: center;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 5em;
  width: 6%;
}

.listHeader {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin: auto;
  padding-bottom: 0.5em;
  padding-top: 1.5em;


}

.listItem {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}

.logo {
  height: 3.5em;
  float: left;
  margin: 1em 1.5em;

}

.mediaList{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 5%;
}

.motivations {
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
}


.personaDetails {
  display: flex;
  color: #403F3F;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  margin: auto;
  padding-bottom: 1.5em;
  padding-top: 0.25em;
  text-align: center;
}

.personaImg {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 1.5em;
  padding-top: 2.5em;
  width: 75%;
}

.personalQuote {
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6em;
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 0.75em;
  text-align: center;
}

.personaName {
  display: flex;
  color: #403F3F;
  justify-content: center;
  font-family: "Noto Serif", serif;
  font-weight: 300;
  font-size: 2rem;
  margin: auto;
  padding: 1em;
  text-align: center;
}

.personaText {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  justify-content: center;
  line-height: 1.6em;
  margin: 0 12%;
  padding-bottom: .5em;
  text-align: left;
}

.phaseLabel {
  background-color: #91A3A3;
  margin: 0em;
  padding: 1.5em;
}

.phaseLabelText {
  display: flex;
  justify-content: center;
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.projectMoto {
  display: flex;
  color: #403F3F;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2em;
  margin-left: 1.25em;
  margin-right: 1.25em;
  padding: 1em;
  text-align: center;
}

.projectSlogan {
  display: flex;
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 2em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: 1em;
  text-align: center;

}

.projectSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.75em;
  margin: 0 12%;
  padding-top: 0em;
  padding-bottom: 0.5em;
  text-align: left;
}


.redirectButton {
  background-color: #0A4F52;
  border-radius: .5em;
  display: inline-block;
  margin: 0 3em 3em;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  text-align: center;
  width: 12em;
}

.redirectButtons {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  padding-left: 0;
  padding-top: 1.5em;
}

.redirectButton:hover {
  background-color: #053032;
}

.roles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sectionSubtitle {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  justify-content: center;
  line-height: 1.6em;
  margin: 0 12%;
  padding-bottom: .5em;
  text-align: left;
}

.secSub {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  justify-content: center;
  line-height: 1.6em;
  margin: 0 12%;
  padding-bottom: .5em;
  text-align: left;
}

.sketchesImg {
  display: flex;
  margin: auto;
  padding-bottom: 4em;
  padding-top: 3em;
  width: 90%
}

.solution {
  background-color: #f2f3f3;
  margin-top: 3em;
}

.solutionImg {
  background-color: #f2f3f3;
  padding-bottom: 3em;
  padding-top: 2em;
  width: 100%;
}

.storiesSubtitle {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  justify-content: left;
  line-height: 1.6em;
  margin: 0 12%;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: left;
}

.subNav {
  background-color: #91A3A3;
  padding-bottom: 0.75em;
  padding-top: 6em;
  position: sticky;
  width: 100%;

}


.subNavText {
  color:#403F3F;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  justify-content: center;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-decoration: none;
}

.surveyImg {
  width: 100%;
  padding-bottom: 2em;
  padding-top: 2em;
}

.textGray {
  color: #373636;
  text-align: center;

}

.topNav {
  background-color: #F2F3F3;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.typoImg {
  display: flex;
  margin: auto;
  width: 95%;
  padding-bottom: 4em;
  padding-top: 2.5em;
}

.userstoriesImg {
  display: flex;
  margin: auto;
  padding-bottom: 1.5em;
  padding-top: 2.5em;
  width:95%;
}

.wand {
  align-self: center;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 5em;
  width: 9%;
}

.visualImage {
  width: 100%
}

@media only screen and (min-width: 760px) {

  h1, h2 {
    display: flex;
    justify-content: center;
  }

  h1 {
    color: #403F3F;
    font-family: "Noto Serif", serif;
    font-size: 3.5rem;
    font-weight: 700;
    padding-top: .75em;
  }

  h2 {
    font-size: 2.5rem;
    padding-bottom: 1.5em;
    padding-top: 0.5em;

  }

  h3 {
    font-size: 3.5rem;

  }

  h4{
    display: flex;
    align-content: flex-start;
    font-size: 2rem;
    font-style: "Source Sans Pro". sans-serif;
  }

  h5 {
    font-size: 2.5rem;
    font-weight: 500;
    justify-content: flex-start;
    margin: auto;
    padding-bottom: 2em;
    padding-left: 5.5%;
    padding-top: 3em;

  }

  .busyLogo {
    width: 12%;
  }

  .buttonText {
    font-size: 2.0em;
    padding: 0.5em

  }

  .break {
    display: none;

  }

  .busonphone {
    padding-bottom: 4em;
    padding-top: 4em;
  }

  .competitiveAnalysis {
    padding-bottom: 4em;
  }

  .conclusion {
    padding-bottom: 4em;
  }

  .conclusionBoxes {
    display: inline-flex;
    justify-content: space-around;
    padding-left: 7%;
    padding-right: 7%;
    width:100%;
  }

  .conclusionBox1 {
    margin: 0em;
    padding-right: 5em;
    width: 100%;
  }

  .conclusionBox2 {
    margin: 0em;
    padding-top: 0em;
    width: 100%;
  }

  .conclusionSubtitle {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6em;
  }

  .conclusionSubtitleAlign {
    display: flex;
    padding-bottom: .5em;
    text-align: left;
  }

  .conclusionTitle {
    display: flex;
    font-size: 1.6rem;
    justify-content: flex-start;
    margin-left: 7%;
  }

  .connect {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 2.5rem;

  }

  .conceptBox {
    display: inline-flex;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 4em;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1em;
    width: 100%;
  }

  .conceptImg {
    height: 40%;
    padding-top: 0em;
    width: 40%;
  }

  .conceptSubtitle {
    display: flex;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    justify-content: flex-start;
    margin-left: 0em;
    line-height: 1.6em;
    text-align: left;

  }


  .connectText {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.75em;
    margin: 0 12%;
    padding-top: 0em;
    padding-bottom: 0.5em;
    text-align: center;
  }

  .deliverRoles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5em;
    margin-right:5em;
    padding-bottom: 4em;


  }

  .expandedNav {
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 1rem;
  }

  .expandedNav--hidden {
    display: flex;
  }

  .expandedNavLink {
    margin-right: 4.8rem;

  }

  .finalPrototype {
    padding-bottom: 4em;
  }

  .finalSubtitle {
    justify-content: flex-start;
    margin-left: 5.5%;
    margin-right: 20%;
    padding-bottom: 1em;

  }

  .hamburgerButton {
    display: none;
  }


  .heroButton {
    width: 15em;

  }

  .heroButton:hover {
    background-color: #053032;
  }

  .heroSubtitle {
    color: #403F3F;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 3rem;
    font-weight: 200;
    padding-top: .3em;
    padding-bottom: 1em;
    text-align: center;
  }

  .hifiImg {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 2em;
    width: 30em;
  }

  .lightbulb {
    margin: 0;
    padding-top: 0em;
    width: 17%;

  }

  .listHeader {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    justify-content: flex-start;
    margin:0em;

  }

  .listItem {
    display: block;
    font-size: 1.6rem;

  }

  .logo {
    height: 3em;
    margin: 0.75em 2.5em;
    padding-bottom: 0em;
  }

  .motivations {
    display: flex;
    justify-content: flex-start;

  }

  .pencil {
    padding-top: 10.5em;
  }


  .personaBoxes {
    display: inline-flex;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 4em;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 4em;
    width: 100%;
  }

  .personBox1 {
    padding-right: 10em;
  }

  .personaBox2 {
    padding-left: 10em;
    padding-top: 0em;
  }


  .personaDetails {
    background-color: #E9EEEE;

  }

  .personaImg {
    width: 80%;

  }

  .personalQuote {
    margin-left: 1em;
    margin-right: 1em;

  }

  .personaName {
    background-color: #E9EEEE;
    display: flex;
  }

  .personaText {
    justify-content: flex-start;
    line-height: 1.6em;
    margin: 0;

  }

  .phaseLabel {
    padding: 2em;

  }

  .phaseLabelText {
    font-size: 2.5rem;

  }

  .projectMoto {
    font-size: 2rem;
    margin: 0 17%;
    padding: 1em;
  }

  .projectSlogan {
    font-size: 2rem;
    font-style: italic;
    margin: 0 20%;
    padding: 1em;
  }

  .projectSubtitle {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 12%;
    padding-top: 0em;
    padding-bottom: 0.5em;
  }

  .redirectButton {
    margin: 0;
    width: 18em;

  }

  .redirectButtons {
    display: flex;
  }

  .roles {
    display: flex;
    margin-bottom: 3em;

  }

  .sectionSubtitle {
    justify-content: flex-start;
    line-height: 1.6em;
    margin-left: 5.5%;
    margin-right: 20%;
    padding-bottom: 1em;

  }

  .secSub {
    justify-content: flex-start;
    margin-left: 5.5%;
    margin-right: 20%;
    padding-bottom: 1em;

  }

  .sketchesImg {
    padding-right: 5%;
    width: 65em;
  }

  .sketchesSubtitle {
    margin-right: 12%;
    padding-left: 1%;
  }

  .solution {
    display: flex;
    padding-top: 7em;
    flex-direction: row;
    margin: auto;
    padding-bottom: 3em;
    padding-left: 10%;

  }

  .storiesSubtitle {
    margin: 0 5%;
  }

  .subNav {
    background-color: #91A3A3;
    padding-bottom: 0.75em;
    padding-top: 8em;
    position: sticky;
    width: 100%;

  }

  .surveyImg {
    display: flex;
    justify-content: center;
    padding-top: 4em;
    margin: auto;
    width: 90%
  }


  .topNav {
    display: flex;
    background-color: #F2F3F3;
    border: 1px solid: #F2F3F3;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5rem;
    margin: auto;
    position: fixed;
    width: 100%;
  }

  .typoImg {
    padding-top: 0em;
    width: 40%;
  }

  .userPersonas {
    padding-bottom: 4em;
  }

  .userResearch {
    padding-bottom: 4em;
  }

  .userStories {
    padding-bottom: 4em;
  }

  .userstoriesImg {
    width: 75%;

  }

  .verticalLine {
    height: 25em;
    margin-right: 4em;
    margin-top: 12em;
    width:.25em;
    background-color: #373636;
  }

  .wand {
    display: flex;
    justify-content: center;
    margin: 0em;
    padding-top: 4em;
    width: 30%;
  }

  .visualImage {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75%;
  }

}

@media only screen and (min-width: 900px) {


  .conclusionSubtitle {
    font-size: 1.6rem;
  }

  .conclusionTitle {
    font-size: 2rem;

  }

  .verticalLine {
    height: 45em;
    margin-right: 4em;
    margin-top: 0em;
    width:.25em;
    background-color: #373636;
  }

}

@media only screen and (min-width: 1224px) {

  h1 {
    font-size: 3.5rem;
    margin-top: 0em;
    padding-top: 5em;
  }

  h5 {
    padding-left: 5%;
  }

  .expandedSubNav {
    display: flex;
    background-color: #91A3A3;
    justify-content: space-around;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-top: 2rem;
  }

  .subNavText {
    display: none;
  }


  .expandedSubNav--hidden {
    display: flex;
    margin-top: 5em;
    position: fixed;
  }

  .finalSubtitle {
    margin-left: 4.25%;
    margin-right: 15%;
  }

  .hifiImg {
    margin-left: 0em;
    margin-top: 0em;
    padding-right: 15em;
    padding-top: 0em;
    width: 45em;
  }

  .personaImg {
    padding-bottom: 4em;
    padding-top: 1em;
    width: 50%;
  }

  .personaBoxes {
    padding-left: 10em;
    padding-right: 10em;
  }

  .personBox1 {
    padding-right: 20em;
  }

  .personaBox2 {
    padding-left: 20em;
  }

  .personalQuote {
    margin-left: 6em;
    margin-right: 6em;
    text-align: left;
  }

  .projectMoto {
    font-size: 2.5rem;
    font-weight: 300;
    justify-content: center;
    margin: 0 27%;
    padding: 1em;
  }

  .projectSlogan {
    font-size: 2.5rem;
    font-style: italic;
    margin: 0 30%;
    padding: 1em;

  }

  .projectSubtitle {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2rem;
    margin: 0 25%;

  }

  .researchBoxes {
    display: inline-flex;
    margin: auto;
    padding-bottom: 3em;
  }

  .researchBox1 {
    margin-left: 2%;
    margin-right: 5%
  }

  .secSub {
    margin-left: 5.5%;
    margin-right: 10%;
  }

  .sectionSubtitle {
    margin-left: 5%;
    margin-right: 50%;
  }

  .sketchesImg {
    padding-top: 0em;

  }

  .subNav {
    display: none;
  }

  .subNavText {
    color:#403F3F;
    display: flex;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    justify-content: center;
    padding-bottom: 0em;
    padding-top: 0em;
    text-decoration: none;
  }

  .surveyImg {
    padding-top: 0em;
    padding-right: 5em;
    width: 60em;
  }

  .userstoriesImg {
    width:65%;
  }

  .verticalLine {
    height: 30em;
    margin-right: 4em;
    margin-top: 6em;
    width:.25em;
    background-color: #373636;
  }

  .visualImage {
    padding-top: 3em;
    width: 50%;
  }


}

@media only screen and (min-width: 1824px) {

  .projectSubtitle {
    font-size: 2em;
  }

  .sectionSub {
     font-size: 2em;
  }

}
