* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;

  /* navigation bar */

}

body {
  margin: 0;
}

footer {
  background-color: #ffff;
}

h1, h2, h3 {
  display: flex;
  justify-content: center;
}

h1 {
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  padding-top: 1.5em;
}

h2 {
  display: flex;
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  font-size: 2rem;
  margin: auto;
  padding-bottom: 1em;
  padding-top: 2em;
  text-align: center;
}

h3 {
  font-family: "Noto Serif", serif;
  font-size: 2.5rem;
  font-weight: 600;
  padding-top: 0.5em;
}

h4 {
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding-top: 0.5em;
}

h5 {
  color: #403F3F;
  display: flex;
  justify-content: center;
  font-family: "Noto Serif", serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin:auto;
  padding-bottom: 2em;
  padding-top: 3em;
}


.break {
  color: #403F3F;
  display: flex;
  justify-content: center;
  margin-top: 4em;
  width: 20%;
}

.buttonText {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  text-decoration: none;
}

.cloud {
  display: flex;
  height: 40%;
  margin: auto;
  width: 40%
}


.cloudonComp {
  height: 60%;
  width: 100%;
}

.competitiveAnalysis {
  background-color: #f2f3f3;
}

.conceptImg {
  display: flex;
  margin: auto;
  width: 95%;
  padding-bottom: 1em;
  padding-top: 2.5em;
}

.conceptlogo {
  background-color: #F2F3F3;
  padding-top: 1.5em;
}

.conceptlogoImg {
  display: flex;
  margin: auto;
  width: 95%;
  padding-bottom: 1em;
  padding-top: 2.5em;
}

.conceptSubtitle {
    display: flex;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    justify-content: center;
    line-height: 1.6em;
    margin: 0 12%;
    padding-bottom: .5em;
    text-align: left;

}

.conclusion {
  padding-bottom: 3em;
}

.conclusionSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6em;
}

.conclusionSubtitleAlign {
  display: flex;
  justify-content: center;
  margin: 0 12%;
  padding-bottom: .5em;
  text-align: left;
}


.connect {
  display: flex;
  background-color: #f2f3f3;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 0em;
  text-align: center;
}

.connectText {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75em;
  margin: 0 8%;
  padding-top: 0em;
  padding-bottom: 0.5em;
  text-align: center;
}


.expandedNav {
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 2em;
  padding-top: 5em;
  text-align: center;
}

.expandedNav--hidden {
  display: none;
}

.expandedNavLink {
  color: #403F3F;
  font-size: 1.5em;
  text-decoration: none;
}

.expandedNavLink:hover {
  color: #91A3A3;
}

.expandedSubNav{
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 2em;
  padding-top: 5em;
  text-align: center;
}

.expandedSubNav--hidden {
  display: none;
}

.expandedsubNavLink{
  color: #403F3F;
  font-size: 1.5em;
  text-decoration: none;
}

.fa {
  color: #0A4F52;
  padding-left: .5em;
}

.feedbackD2 {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 1.5em;
  width:100%;
}

.feedbackSubtitle {
  display: flex;
  justify-content: center;
  line-height: 1.6em;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  padding-bottom: 1em;
  text-align: center;
}

.feedbackV {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5em;
  width:100%;
}

.finalPrototype {
  background-color: #F2F3F3;
  padding-top: 1em;
}

.finalSubtitle {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  justify-content: center;
  line-height: 1.6em;
  margin: 0 12%;
  padding-bottom: .5em;
  text-align: left;
}

.firstsectionImg {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 2em;
  padding-top: 1.5em;
  width: 90%;
}


.footerDiv {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.footerSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.75em;
  margin: 0 5%;
  padding-top: 1.5em;
  padding-bottom: 1em;
  text-align: left;

}

.hamburgerButton {
  height:5em;
  float: right;
  padding: 1.5em 1.5em;
}

.heroButtons {
  display: flex;
  justify-content: center;
  padding-left: 0%;
  padding-top: 1.5em;
}

.heroButton {
  background-color: #0A4F52;
  border-radius: .5em;
  display: inline-block;
  margin: 0 3em 3em;
  padding: 1.5em 1.5em;
  text-align: center;
  width: 10em;
}

.heroButton:hover {
  background-color: #053032;
}

.HifiMockup {
  padding-bottom: 5em;
}

.interfaceChange {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

.interfaceChangeSubtitle {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  justify-content: center;
  line-height: 1.6em;
  margin: 0 12%;
  padding-bottom: .5em;
  text-align: left;
}

.interfaceChangeTitle {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

.interfaceFinalImg {
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;

}

.interfaceImg {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 3em;

}

.lightbulb {
  align-self: center;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 5em;
  width: 6%;
}

.listHeader {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin: auto;
  padding-bottom: 0.5em;
  padding-top: 1.5em;


}

.listItem {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}

.logo {
  height: 3.5em;
  float: left;
  margin: 1em 1.5em;

}

.mediaList{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 5%;
}

.mockup {
  padding-top: 2em;
  width: 100%;

}

.motivations {
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
}



.personaDetails {
  display: flex;
  color: #403F3F;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  margin: auto;
  padding-bottom: 1.5em;
  padding-top: 0.25em;
  text-align: center;
}

.personaImg {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 1.5em;
  padding-top: 2.5em;
  width: 75%;
}

.personalQuote {
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6em;
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 0.75em;
  text-align: center;
}

.personaName {
  display: flex;
  color: #403F3F;
  justify-content: center;
  font-family: "Noto Serif", serif;
  font-weight: 300;
  font-size: 2rem;
  margin: auto;
  padding: 1em;
  text-align: center;
}

.personaText {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  justify-content: center;
  line-height: 1.6em;
  margin: 0 12%;
  padding-bottom: .5em;
  text-align: left;
}

.phaseLabel {
  background-color: #91A3A3;
  margin: 0em;
  padding: 1.5em;
}

.phaseLabelText {
  display: flex;
  justify-content: center;
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.preferencefeedbackImg {
  width: 100%;
}

.preferenceImg {
  display: flex;
  margin: auto;
  width: 95%;
  padding-bottom: 1em;
  padding-top: 2.5em;
}

.problem {
  background-color: #F2F3F3;
  margin-top: 3em;
  padding-bottom: 3em;
}

.projectMoto {
  display: flex;
  color: #403F3F;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2em;
  margin-left: 1.25em;
  margin-right: 1.25em;
  padding: 1em;
  text-align: center;
}

.projectSlogan {
  display: flex;
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 2em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: 1em;
  text-align: center;

}

.projectSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.75em;
  margin: 0 12%;
  padding-top: 0em;
  padding-bottom: 0.5em;
  text-align: left;
}


.redirectButton {
  background-color: #0A4F52;
  border-radius: .5em;
  display: inline-block;
  margin: 0 3em 3em;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  text-align: center;
  width: 12em;
}

.redirectButtons {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  padding-left: 0;
  padding-top: 1.5em;
}

.redirectButton:hover {
  background-color: #053032;
}


.roles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.secondsectionImg {
  display: none;
}

.sectionImg {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 2em;
  padding-top: 1.5em;
  width: 90%;
}

.section-Img {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 2em;
  padding-top: 1.5em;
  width: 90%;
}

.sectionSubtitle {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  justify-content: center;
  line-height: 1.6em;
  margin: 0 12%;
  padding-bottom: .5em;
  text-align: left;
}

.sketchesImg {
  padding-bottom: 3em;
  padding-top: 1.5em;
  width: 100%;
}

.solutionSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.75em;
  margin: 0 12%;
  padding-top: 0em;
  padding-bottom: 1em;
  text-align: left;
}

.storiesSubtitle {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  justify-content: left;
  line-height: 1.6em;
  margin: 0 12%;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: left;
}


.subNav {
  background-color: #91A3A3;
  width: 100%;
  position: sticky;
}


.subNavText {
  color:#403F3F;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-decoration: none;
}

.takeaways {
  padding-top: 0.75em;
}

.task {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  justify-content: flex-start;
  line-height: 1.6em;
  margin: 0 12%;
  padding-bottom: .5em;
  text-align: left;
}

.testingImg {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 90%;
}

.testTask {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.textGray {
  color: #373636;
  text-align: center;
}

.topNav {
  background-color: #F2F3F3;
  position: fixed;
  width: 100%;
}


.typoImg {
  display: flex;
  margin: auto;
  width: 95%;
  padding-bottom: 5em;
  padding-top: 2.5em;
}

.usabilitytesting {
  padding-bottom: 3em;
}

.userFlows {
  background-color: #F2F3F3;
}

.userFlowsImg {
  display: flex;
  margin: auto;
  padding-bottom: 1.5em;
  padding-top: 2.5em;
  width:95%;
}

.userstoriesImg {
  padding-bottom: 1.5em;
  padding-top: 2.5em;
  width:100%;
}

.wand {
  align-self: center;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 5em;
  width: 9%;
}


.wireframes {
  background-color: #F2F3F3;
  padding-bottom: 2em;
}

.wireframeExamples {
  display: flex;
  margin: auto;
  padding-bottom: 2em;
  padding-top: 2em;
  width: 93%;
}

@media only screen and (min-width: 760px) {

  h1, h2 {
    display: flex;
    justify-content: center;
  }

  h1 {
    padding-top: 2.5em;

  }

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 1.5em;
    padding-top: 0.5em;
  }

  h3 {
    font-size: 3.5rem;

  }


  h4{
    display: flex;
    align-content: flex-start;
    font-size: 2rem;
    font-style: "Source Sans Pro". sans-serif;
  }

  h5 {
    display: flex;
    justify-content: flex-start;
    font-size: 2.5rem;
    padding-left: 5%;
    text-align: left;

  }

  .alignLeft {
    display: flex;
    justify-content: flex-start;
    padding-top: 2em;
    text-align: left;
  }

  .buttonText {
    font-size: 2.0em;
    padding: 0.5em

  }

  .break {
    display: none;

  }

  .cloud {
    height: 10%;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    width: 14%
  }

  .cloudonComp {
    padding-bottom: 4em;
    padding-top: 4em;
  }

  .competitiveAnalysis {
    padding-bottom: 4em;
  }

  .conceptBox {
    display: inline-flex;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 4em;
    padding-left: 5%;
    padding-right: 7%;
    padding-top: 2em;
    width: 100%;
  }

  .conceptImg {
    padding-top: 0em;
    width: 40%;
  }

  .conceptlogo {
    padding-bottom: 4em;
  }

  .conceptlogoImg {
    padding-top: 4em;
    width: 70%;
  }

  .conceptSubtitle {
    justify-content: flex-start;
    margin-left: 0em;

  }

  .conclusion {
    padding-bottom: 4em;
  }

  .conclusionBoxes {
    display: inline-flex;
    justify-content: space-around;
    padding-left: 7%;
    padding-right: 7%;
    width:100%;
  }

  .conclusionBox1 {
    margin: 0em;
    padding-right: 5em;
    width: 100%;
  }

  .conclusionBox2 {
    margin: 0em;
    padding-top: 0em;
    width: 100%;
  }

  .conclusionSubtitle {
    font-size: 1.4rem;

  }

  .conclusionSubtitleAlign {
    display: flex;
    padding-bottom: .5em;
    text-align: left;
  }

  .conclusionTitle {
    display: flex;
    font-size: 1.6rem;
    justify-content: flex-start;
    margin-left: 7%;
  }

  .connect {
    margin: auto;
    padding-bottom: 2.5rem;

  }

  .connectText {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 12%;

  }


  .deliverRoles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5em;
    margin-right:5em;
    padding-bottom: 4em;

  }

  .expandedNav {
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 1rem;
  }

  .expandedNav--hidden {
    display: flex;
  }

  .expandedNavLink {
    margin-right: 4.8rem;

  }

  .feedbackD2 {
    width: 50%
  }

  .feedbackV {
    width: 50%
  }

  .finalPrototype {
    padding-bottom: 4em;
  }


  .finalprototypeBox {
    display: inline-flex;
    margin-left: 5%;
    margin-right: 5\3%;
    padding-top: 0em;
  }

  .finalSubtitle {
    margin-left: 0em;
    margin-right: 0em;
  }

  .firstsectionImg {
    display: none;
  }

  .hamburgerButton {
    display: none;
  }

  .heroButtons {
    display: flex;
    justify-content: center;
    padding-left: 0%;
    padding-top: 1.5em;
  }

  .heroButton {
    width: 15em;

  }

  .heroSubtitle {
    color: #403F3F;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 3rem;
    font-weight: 200;
    padding-top: .3em;
    padding-bottom: 1em;
    text-align: center;
  }

  .interfaceChange {
    font-size: 2.0rem;
    margin: 0 5%;
    justify-content: left;
  }

  .interfaceChangeSubtitle {
    margin-left: 5em;
    margin-right: 5%;
    padding-bottom: .5em;
    text-align: left;
  }

  .interfaceChangeTitle {
    margin: 0em;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-top: 0em;
    width: 70%
  }

  .interfaceImg {
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
    padding-top: 3em;
    margin: auto;
    width: 60%;

  }

  .lightbulb {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 0em;
    width: 16%;
  }

  .listHeader {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: 700;
    justify-content: flex-start;
    margin:0em;

  }

  .listItem {
    display: block;
    font-size: 1.6rem;
    font-weight: 300;

  }

  .joseph {
    padding-bottom: 2.75em;

  }

  .logo {
    height: 3em;
    margin: 0.75em 2.5em;
    padding-bottom: 0em;
  }

  .mobile {
    padding-bottom: 4em;
  }

  .motivations {
    display: flex;
    justify-content: flex-start;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
  }

  .onboardingBoxes {
    display: inline-flex;
    margin: auto;
    padding-bottom: 4em;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4em;
    width: 100%;
  }

  .onboardingBox2 {
    padding-left: 15em;
  }

  .pencil {
    padding-top: 10em;
  }


  .personaBoxes {
    display: inline-flex;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 4em;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 4em;
    width: 100%;
  }

  .personBox1 {
    padding-right: 10em;
  }

  .personaBox2 {
    padding-left: 10em;
    padding-top: 0em;
  }


  .personaDetails {
    background-color: #E9EEEE;

  }

  .personaImg {
    width: 60%;

  }


  .personalQuote {
    margin-left: 1em;
    margin-right: 1em;

  }

  .personaName {
    background-color: #E9EEEE;
    display: flex;

  }

  .personaText {
    margin: 0;

  }

  .phaseLabel {
    padding: 2em;

  }

  .phaseLabelText {
    font-size: 2.5rem;

  }

  .preferenceBox {
    display: inline-flex;
    width: 100%;

  }

  .preferencefeedbackImg {
    display: flex;
    justify-content: center;
    margin:auto;
    width: 40%;
  }

  .preferenceImg {
    justify-content: center;
    padding-bottom: 4em;
    padding-top: 4em;
    width: 40%;

  }

  .problem {
    display: flex;
    padding-top: 4em;
    flex-direction: row;
    margin: auto;
    padding-left: 10%;
  }

  .projectMoto {
    font-weight: 300;
    font-size: 2rem;
    justify-content: center;
    line-height: 2em;
    margin: 0 20%;

  }

  .projectSlogan {
    font-size: 2rem;
    font-style: italic;
    justify-content: center;
    line-height: 2em;
    margin: 0 20%;

  }

  .projectSubtitle {
    font-size: 2rem;
    line-height: 1.4em;

  }


   .redirectButton {
     margin: 0;
     width: 18em;

   }

   .redirectButtons {
     display: flex;
   }

   .resultImages {
     display: flex;
     flex-direction: row;
     margin-left: 15%;
     margin-right: 15%;
     padding-bottom: 3em;

   }

   .roles {
     display: flex;
     margin-bottom: 3em;

   }

   .secondsectionImg {
     display: flex;
     margin: auto;
     padding-bottom: 3em;
     padding-top: 3em;
     width: 90%;
   }

   .sectionImg {
     width: 60%;
   }

   .section-Img {
     display: flex;
     margin: auto;
     padding-top: 4em;
     width: 40%;
   }

   .sectionSubtitle {
     justify-content: flex-start;
     margin-left: 5.5%;
     margin-right: 20%;
     padding-bottom: 1em;

   }

   .storiesSubtitle {
     margin: 0 5.5%;
   }

   .solution {
     display: flex;
     padding-top: 4em;
     flex-direction: row;
     margin: auto;
     padding-bottom: 3em;
     padding-left: 10%;

   }

   .solutionSubtitle {
     font-size: 2rem;
     font-style: italic;
     margin: 0 11%;
     padding-bottom: 0.5em;

   }

   .task {
     font-weight: 500;
     margin: 0 5%;
     padding-top: 0.5em;
   }

   .testFeebackVersions {
     display: inline-flex;
     margin: 0 2.5%;
   }

   .testingImg {
     width: 200%;
   }

   .topNav {
     display: flex;
     border: 1px solid: #F2F3F3;
     font-family: "Source Sans Pro", sans-serif;
     font-size: 1.5rem;
     margin: auto;

   }

   .typoImg {
     padding-top: 0em;
     width: 40%;
   }


   .userFlows {
     padding-bottom: 4em;
   }

   .userFlowsImg {
     display: flex;
     justify-content: center;
     margin: auto;
     width: 80%;
   }

   .userResearch {
     padding-bottom: 4em;
   }

   .userPersonas {
     padding-bottom: 4em;
   }

   .userStories {
     padding-bottom: 4em;
   }

   .userstoriesImg {
     display: flex;
     justify-content: center;
     margin: auto;
     width:80%;
   }

   .verticalLine {
     height: 45em;
     margin-right: 4em;
     margin-top: 12em;
     width:.25em;
     background-color: #373636;
   }


   .wand {
     display: flex;
     justify-content: center;
     margin: 0em;
     padding-top: 4em;
     width: 30%;
   }

   .wireframes {
     padding-bottom: 4em;
   }


}

@media only screen and (min-width: 900px) {

  .interfaceChangeTitle {
    padding-left: 1em;
    padding-top: 1em;
  }

  .conclusionSubtitle {
    font-size: 1.5rem;
  }

  .conclusionTitle {
    font-size: 2rem;
  }

  .verticalLine {
    height: 55em;
    margin-top: 8em;

  }

}

@media only screen and (min-width: 1224px) {
  h1 {
    font-size: 3.5rem;
  }

  .alignLeft {
    display: flex;
    justify-content: flex-start;
    padding-left: 2em;
    padding-top: 5em;
    text-align: left;
  }

  .conceptlogoImg {
    padding-bottom: 3em;
    width: 60%;
  }

  .conceptImg {
    width: 30%;
  }

  .conceptSubtitle {
    width: 50%;
  }

  .finalprototypeBox {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3em;
  }

  .finalSubtitle {
    margin-left: 3em;
    margin-right: 5em;
  }

  .firstsectionImg {
    display: none;
  }

  .interfaceChangeSubtitle {
    margin-left: 15em;
  }

  .interfaceChangeTitle {
    padding-left: 6em;
    padding-top: 3em;
  }



  .personaBoxes {
    padding-left: 10em;
    padding-right: 10em;
  }

  .personBox1 {
    padding-right: 20em;
  }

  .personaBox2 {
    padding-left: 20em;
  }

  .personalQuote {
    margin-left: 4em;
    margin-right: 4em;
    text-align: left;
  }


  .projectMoto {
    font-size: 2.5rem;
    justify-content: center;
    margin: 0 23%;
    padding: 1em;
  }

  .projectSlogan {
    font-size: 2.5rem;
    font-style: italic;
    margin: 0 27%;
    padding: 1em;

  }

  .projectSubtitle {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2rem;
    margin: 0 25%;

  }

  .sectionSubtitle {
    margin-left: 5%;
    margin-right: 50%;
  }

  .sketchesImg {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 65%;
  }

  .solutionSubtitle {
    margin: 0 25%;
  }

  .storiesSubtitle {
    margin-left: 4.75%;
  }

  .userFlowsImg {
    width: 60%;
  }

  .userstoriesImg {
    width:70%;
  }

  .wireframeExamples {
    width: 65%;
  }

  .verticalLine {
    height: 35em;
    margin-top: 8em;

  }

 }

 @media only screen and (min-width: 1824px) {

   .deliverRoles {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin-left: 20em;
     margin-right: 20em;
     padding-bottom: 4em;

   }

   .interfaceChangeTitle {
     padding-left: 10em;
   }

   .interfaceChangeSubtitle {
     padding-left: 7em;
   }

   .problem {
     padding-bottom: 7em;
     padding-top: 7em;

   }

   .projectSubtitle {
     font-family: "Source Sans Pro", sans-serif;
     font-size: 2rem;
     font-weight: 300;
     line-height: 1.4em;
     margin: 0 25%;
   }

   .sectionSubtitle {
      font-size: 2rem;
   }


}
