* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;

  /* navigation bar */

}

body {
  margin: 0;
}

footer {
  background-color: #ffff;
}

h1, h2, h3 {
  display: flex;
  justify-content: center;
}

h1 {
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  padding-top: 1.5em;
}

h2 {
  display: flex;
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  font-size: 2rem;
  margin: auto;
  padding-bottom: 1em;
  padding-top: 2em;
  text-align: center;
}

h3 {
  font-family: "Noto Serif", serif;
  font-size: 2.5rem;
  font-weight: 600;
  padding-top: 0.5em;
}

h4 {
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding-top: 0.5em;
}

h5 {
  color: #403F3F;
  display: flex;
  justify-content: center;
  font-family: "Noto Serif", serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin:auto;
  padding-bottom: 2em;
  padding-top: 3em;
}


.break {
  color: #403F3F;
  display: flex;
  justify-content: center;
  margin-top: 4em;
  width: 20%;
}

.buttonText {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  text-decoration: none;
}

.cloud {
  display: flex;
  height: 40%;
  margin: auto;
  width: 40%
}


.cloudonComp {
  height: 60%;
  width: 100%;
}

.competitiveAnalysis {
  background-color: #f2f3f3;
}

.conceptImg {
  display: flex;
  margin: auto;
  width: 95%;
  padding-bottom: 1em;
  padding-top: 2.5em;
}

.conceptlogo {
  background-color: #F2F3F3;
  padding-top: 1.5em;
}

.conclusion {
  padding-bottom: 3em;
}

.connect {
  display: flex;
  background-color: #f2f3f3;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 0em;
  text-align: center;
}


.expandedNav {
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 2em;
  padding-top: 5em;
  text-align: center;
}

.expandedNav--hidden {
  display: none;
}

.expandedNavLink {
  color: #403F3F;
  font-size: 1.5em;
  text-decoration: none;
}

.expandedNavLink:hover {
  color: #91A3A3;
}

.expandedSubNav{
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 2em;
  padding-top: 5em;
  text-align: center;
}

.expandedSubNav--hidden {
  display: none;
}

.expandedsubNavLink{
  color: #403F3F;
  font-size: 1.5em;
  text-decoration: none;
}

.fa {
  color: #0A4F52;
  padding-left: .5em;
}

.feedbackD2 {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 1.5em;
  width:100%;
}

.feedbackSubtitle {
  display: flex;
  justify-content: center;
  line-height: 1.6em;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  padding-bottom: 1em;
  text-align: center;
}

.feedbackV {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5em;
  width:100%;
}

.finalPrototype {
  background-color: #F2F3F3;
  padding-top: 1em;
}


.footerDiv {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.footerSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.75em;
  margin: 0 5%;
  padding-top: 1.5em;
  padding-bottom: 1em;
  text-align: left;

}

.hamburgerButton {
  height:5em;
  float: right;
  padding: 1.5em 1.5em;
}

.HifiMockup {
  padding-bottom: 5em;
}

.interfaceChange {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

.interfaceImg {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 1em;

}

.lightbulb {
  align-self: center;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 5em;
  width: 7%;
}

.listHeader {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin: auto;
  padding-bottom: 0.5em;
  padding-top: 1.5em;


}

.listItem {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}

.logo {
  height: 3.5em;
  float: left;
  margin: 1em 1.5em;

}

.mediaList{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 5%;
}

.mockup {
  padding-top: 2em;
  width: 100%;

}

.motivations {
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
}



.personaDetails {
  display: flex;
  color: #403F3F;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  margin: auto;
  padding-bottom: 1.5em;
  padding-top: 0.25em;
  text-align: center;
}

.personaImg {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 1.5em;
  padding-top: 2.5em;
  width: 75%;
}

.personalQuote {
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6em;
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 0.75em;
  text-align: center;
}

.personaName {
  display: flex;
  color: #403F3F;
  justify-content: center;
  font-family: "Noto Serif", serif;
  font-weight: 300;
  font-size: 2rem;
  margin: auto;
  padding: 1em;
  text-align: center;
}

.phaseLabel {
  background-color: #91A3A3;
  margin: 0em;
  padding: 1.5em;
}

.phaseLabelText {
  display: flex;
  justify-content: center;
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.preferencefeedback {
  width: 100%;
}

.problem {
  background-color: #F2F3F3;
  margin-top: 3em;
  padding-bottom: 3em;
}

.projectMoto {
  display: flex;
  color: #403F3F;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2em;
  margin-left: 1.25em;
  margin-right: 1.25em;
  padding: 1em;
  text-align: center;
}

.projectSlogan {
  display: flex;
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 2em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: 1em;
  text-align: center;

}

.projectSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.75em;
  margin: 0 12%;
  padding-top: 0em;
  padding-bottom: 0.5em;
  text-align: left;
}


.redirectButton {
  background-color: #0A4F52;
  border-radius: .5em;
  display: inline-block;
  margin: 0 3em 3em;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  text-align: center;
  width: 12em;
}

.redirectButtons {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  padding-left: 0;
  padding-top: 1.5em;
}

.redirectButton:hover {
  background-color: #053032;
}

.roles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sectionImg {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 2em;
  padding-top: 1.5em;
  width: 90%;
}

.sectionSubtitle {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  justify-content: center;
  line-height: 1.6em;
  margin: 0 12%;
  padding-bottom: .5em;
  text-align: left;
}

.sketchesImg {
  padding-bottom: 3em;
  padding-top: 1.5em;
  width: 100%;
}

.solutionSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.75em;
  margin: 0 12%;
  padding-top: 0em;
  padding-bottom: 1em;
  text-align: left;
}

.storiesSubtitle {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  justify-content: left;
  line-height: 1.6em;
  margin: 0 12%;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: left;
}


.subNav {
  background-color: #91A3A3;
  width: 100%;
}


.subNavText {
  color:#403F3F;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-decoration: none;
}

.takeaways {
  padding-top: 0.75em;
}

.task {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  justify-content: flex-start;
  line-height: 1.6em;
  margin: 0 12%;
  padding-bottom: .5em;
  text-align: left;
}

.testingImg {
  width: 90%;
}
.testTask {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.textGray {
  color: #373636;
}

.textGray {
  color: #373636;
  text-align: center;

}

.topNav {
  background-color: #F2F3F3;
  position: fixed;
  width: 100%;
}

.typoImg {
  display: flex;
  margin: auto;
  width: 95%;
  padding-bottom: 5em;
  padding-top: 2.5em;
}

.usabilitytesting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.userFlows {
  background-color: #F2F3F3;
}

.userFlowsImg {
  display: flex;
  margin: auto;
  padding-bottom: 1.5em;
  padding-top: 2.5em;
  width:95%;
}

.userstoriesImg {
  padding-bottom: 1.5em;
  padding-top: 2.5em;
  width:100%;
}


.wireframes {
  background-color: #F2F3F3;
  padding-bottom: 2em;
}

.wireframeExamples {
  display: flex;
  margin: auto;
  padding-bottom: 2em;
  padding-top: 2em;
  width: 93%;
}
