
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;

  /* navigation bar */

}

body {
  margin: 0;
}

footer {
  background-color: #F2F3F3;
}

h1, h2, h3 {
  display: flex;
  justify-content: center;
}

h1 {
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  padding-top: 3em;
}

h2 {
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding-top: 0em;
}

h3 {
  font-family: "Noto Serif", serif;
  font-size: 2.5rem;
  font-weight: 600;
  padding-top: 0.5em;
}

h4 {
  color: #403F3F;
  font-family: "Noto Serif", serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding-top: 0.5em;
}

.aboutme {
  background-color: #F2F3F3;
}

.aboutme p {
  text-align: left;
}

.aboutme h3 {
  padding-top: 0em;
}

.aboutmePic {
  display: block;
  margin-left: auto;
  margin-right: 22%;
  padding-top: 3.5em;
  width: 100%;
}

.buttonText {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}

.contactText {
  border-bottom: #403F3F;
  border-style: solid;
  border-width:  0em 0em .10em 0em ;
  color: #403F3F;
}

.connectText {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75em;
  margin: 0 8%;
  padding-top: 0em;
  padding-bottom: 0.5em;
  text-align: center;
}

.expandedNav {
  text-align: center;
  padding-bottom: 2em;
  padding-top: 5em;
  font-family: "Source Sans Pro", sans-serif;
}

.expandedNav--hidden {
  display: none;
}

.expandedNavLink {
  font-size: 1.5em;
  text-decoration: none;
}

.expandedNavLink:hover {
  color: #91A3A3;
}

.expandedNavText {
  color: #403F3F;
}

.fa {
  color: #0A4F52;
  padding-left: .5em;
}

.footerDiv {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.footerSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.75em;
  margin: 0 5%;
  padding-top: 1.5em;
  padding-bottom: 1em;
  text-align: left;
}

.hamburgerButton {
  height:5em;
  float: right;
  padding: 1.5em 1.5em;
}

.hero {
  background-image: url("../images/heroimage.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
}

.heroButtons {
  display: flex;
  justify-content: center;
  padding-left: 0%;
  padding-top: 1.5em;
}

.heroButton {
  background-color: #0A4F52;
  border-radius: .5em;
  display: inline-block;
  margin: 0 3em 3em;
  padding: 1.5em 1em;
  text-align: center;
  width: 8em;
}

.heroButtonGhost {
  background-color: #91A3A3;
}


.heroButton:hover {
  background-color: #053032;
}

.heroSubtitle {
  color: #403F3F;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.6em;
  padding-bottom: 1em;
  padding-top: .5em;
  text-align: center;
}

.logo {
  height: 3.5em;
  float: left;
  margin: 1em 1.5em;

}

.mediaList{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 5%;
}

.myProcess p {
  font-size: 1.4rem;
  text-align: left;
}

.processPic {
  display: block;
  margin-left: auto;
  margin-right: 22%;
  padding-top: 1em;
  padding-bottom: 2em;
  width: 100%;
}

.processTopic {
  display: flex;
  margin-left: 12%;
}

.projectKeywords {
  display: none;
}

.projectGreen {
  background-color: #91A3A3;
  padding-top: 1em;
}

.projectGreen h3 {
  padding-top: 0em;
  width:100%;
}

.projectWhite h3 {
  padding-top: 0em;
  width: 100%;
}


.projectSnapshot {
  display: block;
  margin-left: auto;
  margin-right: 17%;
  padding-top: 3em;
  width: 65%;
}

.projectSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75em;
  margin: 0 11.5%;
  padding-top: 0em;
  padding-bottom: 0.5em;
  text-align: center;
}

.projectWhite {
  background-color: #fff;
}

.redirectButton {
  background-color: #0A4F52;
  border-radius: .5em;
  display: inline-block;
  margin: 0 3em 3em;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  text-align: center;
  width: 12em;
}

.redirectButtons {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  padding-left: 0;
  padding-top: 1.5em;
}

.redirectButton:hover {
  background-color: #053032;
}

.testimonials {
  background-color: #F2F3F3;
  padding-top: .5em;
}

.testimonials p {
  text-align: left;
  padding-bottom: 2em;
}

.testimonialPic {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: 34%;
  padding-top: 1em;
  padding-bottom: 3.5em;
  width: 30%;
}

.testimonialSubtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75em;
  margin: 0 12%;
  padding-top: 0em;
  padding-bottom: 0.5em;
  text-align: center;
}

.testimonalText {
  color: #373636;
}

.textItalic {
  color: #373636;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 400;
  justify-content: center;
  line-height: 1.75em;
  margin: 0 12%;
  padding-top: -.5em;
  padding-top: 0em;
  padding-bottom: 0.5em;
}

.textGreen {
  color: #91A3A3;
}

.textGray {
  color: #373636;

}

.textWhite {
  color: white;
}

.topNav {
  background-color: #F2F3F3;
  position: fixed;
  width: 100%;
}


@media only screen and (min-width: 760px) {


  h1, h2 {
    display: flex;
    justify-content: center;
  }

  h1 {
    color: #403F3F;
    font-family: "Noto Serif", serif;
    font-size: 5rem;
    font-weight: 700;
    padding-top: 2.5em;
  }

  h2 {
    font-size: 3rem;
    padding-top: 0.5em;
  }

  h3 {
    font-size: 3rem;
    font-weight: 600;
  }

  h4{
    display: flex;
    align-content: flex-start;
    font-size: 2rem;
    font-style: "Source Sans Pro". sans-serif;
  }

  .aboutme {
    padding-bottom: 3em;
  }


  .aboutmeBoxes {
    display: inline-flex;
    flex-direction: row;
    padding-left: 0%;
    padding-top: 5%;
  }

  .aboutmePic {
    margin-left: 0%;
    padding-left: 0%;
    padding-right: 2em;
    padding-top: 7em;
    width: 35em;
  }

  .aboutmeBox2 {
    padding-right: 5em;
  }


  .backgroundGreen {
    background-color: #91A3A3;
  }

  .backgroundWhite {
    background-color: white;
    color: #0A4F52;
  }


  .buttonText {
    font-size: 2.0em;
    padding: 0.5em
  }


  .connect {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 0.5rem;
    padding-top: 4em;

  }


  .connectText {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.75em;
    margin: 0 12%;
  }

  .expandedNav {
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 1rem;
  }

  .expandedNav--hidden {
    display: flex;
  }

  .expandedNavLink {
    margin-right: 4.8rem;

  }

  .hero {
    width: 100%;
  }


  .hamburgerButton {
    display: none;
  }



  .heroButton {
    width: 15em;
    padding-bottom: 1.5em;

  }

  .heroButtons {
    padding-bottom: 3em;
  }

  .heroSubtitle {
    font-size: 2.5rem;
    padding-top: .3em;
    padding-bottom: 1em;
  }


  .logo {
    height: 3em;
    margin: 0.75em 2.5em;
    padding-bottom: 0em;
  }

  .myProcess {
    display: flex;
    padding-bottom: 4em;
  }

  .myprocessBoxes {
    display: inline-flex;
    flex-direction: row;
    padding-left: 0%;
    padding-top: 2%;
  }

  .myprocessBox1 {
    margin-left: 6em;
    padding-right: 3em;
  }

  .myprocessBox2 {
    margin-right: 0em;
  }


  .processPic {
    display: flex;
    justify-content: flex-end;
    margin-right: 0em;
    padding-right: 3em;
    padding-top: 13em;
    width: 100%;
  }

  .processTopic {
    margin-left:0;
    margin-top: 1em;
    margin-bottom: 0.5em;

  }

  .projectGreenBoxes {
    display: inline-flex;
    flex-direction: row-reverse;
    margin: auto;
    padding-bottom: 3em;
    padding-left: 5%;
    padding-top: 2%;

  }


  .projectKeyword {
  margin-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;


  }


  .projectKeywords {
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 1em;
    margin-right: 0em;
    padding: 0.5em 0em;
    text-align: center;

  }

  .projsnapGreen {
    padding-right: 4em;
    width: 38em;
  }

  .projsnapWhite {
    padding-right: 4em;
    padding-left: 2em;
    width: 40em;
  }


 .projectSubtitle {
    font-size: 2rem;
    margin: 0;

  }

  .projectWhiteBoxes {
    display: inline-flex;
    flex-direction: row;
    margin: auto;
  }

  .projectWhiteBox1 {
    padding-left: 3em;
    padding-top: 3em;

  }

  .projectWhiteBox2 {
    margin-right: 0em;
    padding-left: 4em;
    padding-right: 0em;

  }

  .projectWhite {
    color: white;
    padding-bottom: 3em;
  }

  .redirectButton {
    margin: 0;
    width: 18em;

  }

  .redirectButtons {
    display: flex;
    justify-content: flex-start;

  }

  .testimonials {
    padding-bottom: 3em;
    padding-top: 4em;
  }



  .testimonialKate {
    margin-left: 4em;
    width: 35%;
  }

  .testimonialMike {
    margin-right: 4em;
    width: 35%;
  }

  .testimonialsPeople {
    display: inline-flex;
    justify-content: center;
    margin: auto;
    padding-top: 1em;
    width: 100%
  }


  .testimonialPic {
    justify-content: center;
    margin: auto;
    padding-bottom: 3rem;
    padding-top: 4em;
    width: 6em;
  }

  .testimonialSubtitle {
    font-size: 1.4rem;
    margin: 0 6%;
  }

  .testimonialText {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 1em;
  }

  .textAbout {
    font-size:1.4rem;
  }

  .textGray {
    display: flex;
    justify-content: flex-start;
  }


  .textGreen {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    width: 90%
  }

  .textWhite {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 86%;
  }



  .topNav {
    display: flex;
    border: 1px solid: #F2F3F3;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5rem;
    margin: auto;

  }


}

@media only screen and (min-width: 900px) {

  .aboutmeBox2 {
    padding-left: 5em;
    padding-right: 6em;
  }

  .aboutmeBoxes {
    padding-left: 3em;
  }

  .connect {
    padding-bottom: 0em;
  }

  .processPic {
    margin-right: 0em;
    padding-right: 15%;
    padding-top: 20%;
  }

  .projectKeyword {
    padding-left: 0em;
    padding-right: 0em;
    width: 8em;


  }

  .projectWhiteBox2 {
    padding-top: 3em;
  }

  .textGreen {
    width:82%
  }

  .textWhite {
    width:75%;
  }

}

@media only screen and (min-width: 1224px) {

  .aboutmeBoxes {
    justify-content: space-between;
    margin: auto;
    padding-top: 2em;

  }

  .aboutmePic {
    margin-left: 0%;
    padding-left: 12%;
    padding-right: 0em;
    padding-top: 4em;
    width: 55em;
  }

  .aboutmeBox2 {
    padding-right: 15em;
    width: 50%;
  }

  .caseStudyBoxes {
    background-color: #ffff;
    display: inline-flex;
    /*justify-content: center;*/
    margin: auto;
    padding-bottom: 12em;
    padding-top: 5em;
    overflow: hidden;
    width: 100%;
  }

  .myprocessBox1 {
    padding-left: 10%;
    padding-right: 2em;
    width: 50%;
  }

  .processPic {
    padding-right: 15em;
    padding-top: 7em;
    width: 70%;
  }

  .projectGreen {
    border-radius: 0.5em;
    height: 55em;
    margin:auto;
    margin-right: -10em;
    width: 35%;
  }

  .projectGreenBoxes {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 10%;

  }


  .projectGreenBox2 {
    justify-content: flex-start;
  }


  .projectWhite {
    border-color: #91A3A3;
    border-radius: 0.5em;
    height: 55em;
    margin: auto;
    width: 35%;
  }

  .projectWhiteBoxes {
    display: flex;
    flex-direction: column-reverse;

  }

  .projectWhiteBox2 {
    justify-content: flex-start;
    padding-top: 1.5em;
  }

  .projsnapGreen {
    margin-bottom: 0em;
    padding-top: 3em;
    position: absolute;
    width: 40em;
    z-index: 10;

  }

  .projsnapWhite {
    justify-content: flex-start;
    padding-top: 0em;
    position: absolute;
    width: 41em;
    z-index: 10;

  }

  .projectSnapshot {

  }

  .projectWhite {
    border: #91A3A3;
    border-style: solid;
    border-width: thin;

  }

  .testimonials {
    padding-bottom: 4em;
  }

  .testimonialKate {
    margin-left: 7em;
    width: 30%;
  }

  .testimonialMike {
    margin-right: 7em;
    width: 30%;
  }

  .testimonialsPeople {
    display: inline-flex;
    justify-content: center;
    margin: auto;
    padding-top: 2em;
    width: 100%
  }

  .testimonialPic {
    padding-top: 1.5em;
  }


  .textAbout {
    font-size: 1.6rem;
  }

  .textGreen {
    width: 75%;
  }

  .textWhite {
    width: 70%;
  }

  .topNav {
    z-index: 11;
  }



}

@media only screen and (min-width: 1824px) {

  .aboutmeBox2 {
    padding-right: 40em;
    width: 70%;
  }

  .aboutmeBoxes {
    justify-content: space-between;
    margin: auto;
    padding-bottom: 3em;
    padding-top: 3em;

  }

  .aboutmePic {
    margin-left: 0%;
    padding-left: 25%;
    padding-right: 0em;
    padding-top: 7em;
    width: 65em;
  }

  .caseStudyBoxes{
    padding-bottom: 25em;
  }

  .caseStudyBoxes h3 {
    font-size: 3rem;
  }

  .processPic {
    padding-right: 40em;
    width: 75%;
  }


  .projsnapGreen {
    width: 45em;
  }

  .projsnapWhite {
    width: 45em;
  }


  .projectSubtitle {
    font-size: 2rem;
  }

  .projectWhite {
    border: #91A3A3;
    border-style: solid;
    border-width: thin;
  }

  .textGreen {
    font-size: 2.5rem;
    width: 60%;
  }

  .textWhite {
      font-size: 2.5rem;
      width: 60%;

  }


}
